.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: var(--padding-s);
  position: relative;
}

.logoWrapper {
  display: flex;
  gap: var(--padding-s)
}

.burger {
  cursor: pointer;
}
